@model LunchDecider.Models.LoginModel
@{
    ViewBag.Title = "My LunchDecider";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<header>
    <h1>@ViewBag.Title</h1>
    @Styles.Render("~/content/css")
</header>
<div id="main-content" data-ng-app="lunchDecider">
<div data-ng-view></div> <!-- The SPA Views go here -->   
</div>

<input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />      

@section scripts {
    @Scripts.Render("http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js")
    @Scripts.Render("~/js")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/lunchDecider")
}
