@{
    ViewBag.Title = "My LunchDecider";
}

<header>
    <h1>@ViewBag.Title</h1>
    @Styles.Render("~/content/css")
</header>

<div id="main-content" data-ng-app="lunchDecider">
<div data-ng-view></div>
</div>

@section scripts {
    @Scripts.Render("http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js")
    @Scripts.Render("~/js")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/lunchDecider")
}
